[Desktop Entry]
Version=1.0
Type=Application
Name=Greek NameDays
Name[el]=Εορτολόγιο Ελληνικών Ονομάτων
Comment=According to the Greek Orthodox tradition, nearly every day of the year is dedicated to a Christian saint or Martyr.
Comment[el]=Σύμφωνα με την Ελληνική Ορθόδοξη παράδοση, σχεδόν κάθε μέρα του χρόνου είναι αφιερωμένη σε κάποιο χριστιανό άγιο ή μάρτυρα.
GenericName=Greek NameDays retrieval and presentation tool, version 0.2.1
GenericName[el]=Εργαλείο ανάκτησης και παρουσίασης Ελληνικών ονομαστικών εορτών, έκδοση 0.2.1
Exec=greeknamedays
Icon=Christian-cross
Categories=Education;Presentation;
StartupNotify=false
